@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    background-color: #24272E;
}
header {
    background: #ffffff;
    padding: 20px;
    font-family: 'Comic Neue', cursive;
}

header h1{
    text-align: center;
    color: #25272E; 
    font-size: 50px;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    width: 200px;
    color: white;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Comic Neue', cursive;
    position: relative;
}

.badge{
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label{
    position: absolute;
    top: 27px;
    left: -20px;
}

#computer-label{
    position: absolute;
    top: 27px;
    right: -20px;
}

.result{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.choices{
    text-align: center;
    padding: 20px ; 
}
.choice{
    display: inline-block;
    margin: 0px 15px ;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    opacity: 1;
}

#action-msg{
    text-align: center;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
}